    <nav class="top-bar">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to "How-2", root_path %></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <li class="divider"></li>
          <li><%= link_to "How To", howtos_path %></li>
        </ul>
      </section>
    </nav>
